int threads = Runtime.getRuntime().availableProcessors()

process {
    withName: HISAT2_TO_BAM {
        cpus = threads
    }
}

process {
    withName: SAMTOOLS {
        cpus = threads
    }
}

process {
    withName: FEATURECOUNTS {
        cpus = threads
    }
}

process {
    withName: FASTQC {
        cpus = threads
    }
}
